#tier{
    padding: 5px;
}
.tier-list{
    border: 1px solid #000;
    border-radius: 25px;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
}
h1 {
padding-right: 10px;
}
.line{
    justify-content: center;
    display: flex;
    margin-left: 9px;
    margin-top: 18px;
    width: 0px;
    border: 1px solid black;
    height: 36px;                  
} 
#sumit{
    margin-top: 1rem;

}